@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Brawler&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #FBFBFD;
  font-family: "Brawler", serif;
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

h2 {
  font-size: 30px;
  margin: 20px 0px 20px 0px;
}

.menu-index {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 300px;
  text-shadow: 1px 1px #c2c2c2, 2px 2px #d7d7d7, 3px 3px #bababa;
}
.menu-index ul li a {
  font-size: 50px;
  line-height: 80px;
}
.menu-index ul li:hover {
  transform: scale(1.02);
}

.navbar-nav {
  text-shadow: 1px 1px #c2c2c2, 2px 2px #d7d7d7, 3px 3px #bababa;
  font-size: 25px;
}
.navbar-nav li:hover {
  transform: scale(1.02);
}

.navbar {
  border-bottom: 3px solid red;
}

.navbar-brand {
  font-size: 50px;
  margin-left: 8px;
}

@media screen and (max-width: 420px) {
  .menu-index {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 250px;
  }
  .menu-index ul li a {
    font-size: 53px;
    line-height: 80px;
  }

  .navbar-brand {
    font-size: 40px;
  }
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
a:hover {
  color: black;
}

ul {
  padding: 0px;
}

main {
  grid-area: main;
}

.seccion-musica {
  display: flex;
  align-items: flex-start;
}

.canciones {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.canciones div a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 20px;
}
.canciones div a img {
  width: 85%;
  height: auto;
}
.canciones div a:hover {
  transform: scale(0.99);
  transition: all 0.2s;
}

.tapa-cancion {
  width: 100%;
  margin-top: 40px;
}

.letra {
  line-height: 1.6;
  white-space: pre;
  font-size: 20px;
}

@media screen and (max-width: 990px) {
  /* Música */
  .canciones {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 45px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 420px) {
  .container {
    margin: 0px;
    padding: 0px;
  }

  .canciones {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .canciones div a img {
    width: 100%;
  }

  .titulo-cancion {
    margin: 8px 0px 0px 25px;
  }

  .tapa-cancion {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }

  h2 {
    font-size: 25px;
    margin: 20px;
  }

  audio {
    margin-left: 20px;
    margin-top: 10px;
  }

  .letra {
    line-height: 1.6;
    white-space: pre;
    font-size: 18px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-left: -65px;
  }
}
.seccion-videos {
  display: flex;
  align-items: flex-start;
}

.videos p {
  font-size: 25px;
  margin: 30px;
}

@media screen and (max-width: 420px) {
  .videos p {
    font-size: 20px;
    margin: 10px 10px 10px 25px;
  }
}
iframe {
  width: 100%;
}

.contacto {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 300px;
  padding: 20px;
}

.cuadro {
  border: 1px solid black;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.cuadro label {
  display: block;
  text-align: left;
  font-size: 14px;
}
.cuadro input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.cuadro textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.boton {
  display: block;
  background-color: blue;
  padding: 10px 0;
  color: white;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

footer {
  border-top: 3px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: footer;
}
footer p {
  margin-left: 25px;
  margin-top: 10px;
}

.footer {
  width: 30%;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 25px;
  margin-top: 10px;
}

@media screen and (max-width: 990px) {
  .redes li a img {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  footer {
    border-top: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    grid-area: footer;
    margin-bottom: 20px;
  }
  footer p {
    margin: 20px;
  }

  .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 45px;
    width: 250%;
  }
}

/*# sourceMappingURL=style.css.map */
