.contacto {
	width: 70%;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 300px;
}
.cuadro {
	border: 1px solid black;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
	label {
		display: block;
		text-align: left;
		font-size: 14px;
	}
	input {
		width: 100%;
		border: none;
		background: none;
		outline: none;
		font-size: 18px;
		margin-top: 6px;
	}
	textarea {
		width: 100%;
		border: none;
		background: none;
		outline: none;
		font-size: 18px;
		margin-top: 6px;
	}
}
.boton {
	display: block;
	background-color: blue;
	padding: 10px 0;
	color: white;
	cursor: pointer;
	margin-top: 8px;
	width: 100%;
}