header {
	grid-area: header;
}
h2 {
	font-size: 30px;
	margin: 20px 0px 20px 0px;
}
.menu-index {
	ul {
		li {
			a {
				font-size: 50px;
				line-height: 80px;
			}
			&:hover {
				transform: scale(1.02);
			}
		}
	}
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 300px;
	text-shadow: 1px 1px #c2c2c2, 2px 2px #d7d7d7, 3px 3px rgb(186, 186, 186);
}
.navbar-nav {
	text-shadow: 1px 1px #c2c2c2, 2px 2px #d7d7d7, 3px 3px rgb(186, 186, 186);
	font-size: 25px;
	li {
		&:hover {
			transform: scale(1.02);
		}
	}
}
.navbar {
	border-bottom: 3px solid red;
}
.navbar-brand {
	font-size: 50px;
	margin-left: 8px;
}

@media screen and (max-width: 420px) {
	.menu-index {
		ul {
			li {
				a {
					font-size: 53px;
					line-height: 80px;
				}
			}
		}
		margin: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 250px;
	}
	.navbar-brand {
		font-size: 40px;
	}
}	