footer {
	border-top: 3px solid blue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	grid-area: footer;
	p {
		margin-left: 25px;
		margin-top: 10px;
	}
}
.footer {
	width: 30%;
}
.redes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 25px;
	margin-top: 10px;
}

@media screen and (max-width: 990px) {
	.redes {
		li {
			a {
				img {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 420px) {
	footer {
		border-top: 3px solid blue;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		grid-area: footer;
		margin-bottom: 20px;
		p {
			margin: 20px;
		}
	}
	.redes {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 45px;
		width: 250%;
	}
}	