.seccion-videos {
	display: flex;
	align-items: flex-start;
}
.videos {
	p {
		font-size: 25px;
		margin: 30px;
	}
}

@media screen and (max-width: 420px) {
	.videos {
		p {
			font-size: 20px;
			margin: 10px 10px 10px 25px;
		}
	}
}	